In [36]:
print("Hello World")

Hello World

In [37]:
#importing dependencies

import pandas as pd
import random
from faker import Faker

#mysql toolkit
#import pymysql #this will work as adapter
from sqlalchemy import create_engine

#psql
import psycopg2

In [38]:
# Initialize Faker for generating random customer names
faker = Faker()

In [39]:
# Load the cleaned Walmart dataset
df = pd.read_csv('walmart_clean_data.csv')

In [56]:
# Generate unique customer IDs
df['customer_id'] = [f"CUST{str(i).zfill(5)}" for i in range(1, len(df) + 1)]

In [57]:
# Generate random customer names
df['customer_name'] = [faker.name() for _ in range(len(df))]

In [58]:
# Optional: Preview the dataset with customer information
print(df[['customer_id', 'customer_name']].head())

  customer_id customer_name
0   CUST00001  Sara Griffin
1   CUST00002  Linda Mosley
2   CUST00003  Morgan Eaton
3   CUST00004   Paula Logan
4   CUST00005    Brian Byrd

In [43]:
print(pd.__version__)

2.2.3

In [44]:
df = pd.read_csv('Walmart.csv', encoding_errors='ignore')
df.shape

(10051, 11)

In [45]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [46]:
df.describe()

         invoice_id      quantity        rating  profit_margin
count  10051.000000  10020.000000  10051.000000   10051.000000
mean    5025.741220      2.353493      5.825659       0.393791
std     2901.174372      1.602658      1.763991       0.090669
min        1.000000      1.000000      3.000000       0.180000
25%     2513.500000      1.000000      4.000000       0.330000
50%     5026.000000      2.000000      6.000000       0.330000
75%     7538.500000      3.000000      7.000000       0.480000
max    10000.000000     10.000000     10.000000       0.570000

In [47]:
#Checking if the data has any wrong datatype
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   category        10051 non-null  object
 4   unit_price      10020 non-null  object
 5   quantity        10020 non-null  float64
 6   date            10051 non-null  object
 7   time            10051 non-null  object
 8   payment_method  10051 non-null  object
 9   rating          10051 non-null  float64
 10  profit_margin   10051 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 863.9+ KB

In [48]:
#Finding out all duplicates
df.duplicated().sum()

np.int64(51)

In [49]:
#Checking which column has duplicates
df.isnull().sum()

invoice_id         0
Branch             0
City               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

In [50]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

np.int64(0)

In [51]:
df.shape

(10000, 11)

In [52]:
#Dropping all rows with missing records
df.dropna(inplace=True)

#verify
df.isnull().sum()

invoice_id        0
Branch            0
City              0
category          0
unit_price        0
quantity          0
date              0
time              0
payment_method    0
rating            0
profit_margin     0
dtype: int64

In [53]:
df.dtypes

invoice_id          int64
Branch             object
City               object
category           object
unit_price         object
quantity          float64
date               object
time               object
payment_method     object
rating            float64
profit_margin     float64
dtype: object

In [54]:
df['unit_price.astype(float)']

KeyError: 'unit_price.astype(float)'

In [30]:
df['unit_price'] = df['unit_price'].str.replace('$','').astype(float)
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9969 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      9969 non-null   int64
 1   Branch          9969 non-null   object
 2   City            9969 non-null   object
 3   category        9969 non-null   object
 4   unit_price      9969 non-null   float64
 5   quantity        9969 non-null   float64
 6   date            9969 non-null   object
 7   time            9969 non-null   object
 8   payment_method  9969 non-null   object
 9   rating          9969 non-null   float64
 10  profit_margin   9969 non-null   float64
dtypes: float64(4), int64(1), object(6)
memory usage: 934.6+ KB

In [66]:
df.columns

Index(['invoice_id', 'branch', 'city', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin',
       'customer_id', 'customer_name'],
      dtype='object')

In [65]:
df.columns = df.columns.str.lower()

In [33]:
df['total'] = df['unit_price'] * df['quantity']
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,total
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48,604.17

In [34]:
df.shape

(9969, 12)

In [35]:
df.to_csv('walmart_clean_data.csv', index=False)

In [37]:
#mysql connection
# MySQL connection
#host = localhost
#port = 3306
#user = root
#password = 'xoxo'

engine_mysql = create_engine("mysql+pymysql://root:xoxo@localhost:3306/walmart_db")

try:
    engine_mysql
    print("Connection succesfull")

except:
    print("Unable to Connect")

Connection succesfull

In [38]:
df.to_sql(name='walmart', con=engine_mysql, if_exists='append', index=False)

9969

In [36]:
print(df.head())
print(df.columns)

   invoice_id   Branch         City                category unit_price  \
0           1  WALM003  San Antonio       Health and beauty     $74.69
1           2  WALM048    Harlingen  Electronic accessories     $15.28
2           3  WALM067  Haltom City      Home and lifestyle     $46.33
3           4  WALM064      Bedford       Health and beauty     $58.22
4           5  WALM013       Irving       Sports and travel     $86.31

   quantity      date      time payment_method  rating  profit_margin
0       7.0  05/01/19  13:08:00        Ewallet     9.1           0.48
1       5.0  08/03/19  10:29:00           Cash     9.6           0.48
2       7.0  03/03/19  13:23:00    Credit card     7.4           0.33
3       8.0  27/01/19  20:33:00        Ewallet     8.4           0.33
4       7.0  08/02/19  10:37:00        Ewallet     5.3           0.48
Index(['invoice_id', 'Branch', 'City', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin'],
      dtype='object')

In [40]:
df.shape

(9969, 11)

In [67]:
#pysql connection
# "mysql+pymysql://user:password@localhost:3306/db_name"
engine_psql = create_engine("postgresql+psycopg2://postgres:xoxo@localhost:5433/walmart_db")

try:
    engine_psql
    print("Connection Successed to PSQL")
except:
    print("Unable to connect")

Connection Successed to PSQL

In [68]:
 # PostgreSQL connection
engine_psql = create_engine("postgresql+psycopg2://postgres:xoxo@localhost:5433/walmart_db")

In [69]:
# Update the PostgreSQL table with new columns
df.to_sql(name='walmart', con=engine_psql, if_exists='replace', index=False)
print("Customer data added and table updated in PostgreSQL.")

Customer data added and table updated in PostgreSQL.

In [43]:
df.to_sql(name='walmart', con=engine_psql, if_exists='append', index=False)

969

In [38]:
df.to_csv('walmart_clean_data.csv', index=False)

In [61]:
print(df[['customer_id', 'customer_name']].head())

  customer_id customer_name
0   CUST00001  Sara Griffin
1   CUST00002  Linda Mosley
2   CUST00003  Morgan Eaton
3   CUST00004   Paula Logan
4   CUST00005    Brian Byrd

In [62]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,customer_id,customer_name
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48,CUST00001,Sara Griffin
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48,CUST00002,Linda Mosley
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33,CUST00003,Morgan Eaton
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33,CUST00004,Paula Logan
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48,CUST00005,Brian Byrd